/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --bg-image: url("../images/cover-image-dark.png");
  --pink: rgba(255, 0, 112, 1);
  --dark-pink: #DB00FF;
  --dark-blue: rgba(0, 0, 40, 1);
}