/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --bg-image: url("../images/cover-image-light.png");
  --accent-color: rgba(255, 141, 203, 1);
  --main-heading-color: rgba(255, 194, 230, 1);
  --title-color: rgba(53, 52, 48, 1);
  --article-color: rgba(53, 52, 48, 1);
}

:root.theme-light .header__theme-menu-button,
:root.theme-light .header__theme-menu-button:hover, 
:root.theme-light .header::before,
:root.theme-light .header::after,
:root.theme-light .footer::before,
:root.theme-light .footer::after {
  --accent-color: var(--title-color);
}

:root.theme-light .article-heading {
  color: var(--title-color);
}

:root.theme-light .record-icon {
  display: none;
}

@media (width < 1024px) {
  :root.theme-light .header {
    grid-template-rows: 0.7fr min-content 0.8fr;
  }
}
