/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  font-family: var(--font);
  font-weight: var(--light);
  font-size: var(--text-font-size);
  color: var(--text-font-size);
  background-image: var(--bg-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  padding: 0 var(--margin-side);
}

.header {
  width: 100%;
  height: 100vh;
  min-height: 668px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content repeat(3, 2fr);
  justify-items: center;
  align-items: center;
}

/* Record */
.record-icon {
  justify-self: flex-end;
  color: var(--accent-color);
  font-weight: var(--bold);
}

.record-icon::after {
  content: '.';
}

/* Theme menu */
.header__theme-menu {
  justify-self: flex-end;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  background-color: transparent;
  color: var(--accent-color);
  border: none;
  text-transform: lowercase;
}

/* no focus h1 */
.header h1 {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  /* font-weight: var(--bold); */
  color: var(--h1-color);
  text-shadow: 4px 4px 0 var(--accent-color);
}

/* title */
.title {
  background-color: var(--accent-color);
  inline-size: 355px;
  block-size: 117px;
  color: var(--title-color);
  font-weight: var(--bold);
}

.title-text {
  max-inline-size: 80%;
  line-height: 24px;
}




/* main content */
.main {
  display: grid;
  /* grid-template-columns: calc(100vw - var(--margin-side) * 2); */
  grid-template-columns: 1fr;
  grid-template-rows: repeat(auto-fit, 1fr);
  justify-items: center;
  gap: 50px;
}



/* article sections */
.article-section {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr;
  gap: 20px;
}

.articles-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.article-section:has(.extra-block-heading) {
  grid-template-columns: repeat(2, min-content) repeat(auto-fit, 1fr);
}

/* article block */
h3.article-heading {
  color: var(--accent-color);
}

.article-block {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.block-heading {
  width: 100%;
  min-block-size: 23px;
  background-color: var(--accent-color);
}

.block-heading h4 {
  color: var(--title-color);
  font-weight: var(--light);
}

.extra-block-heading h4 {
  font-weight: var(--bold);
}

.article-block-description {
  color: var(--article-color);
}



/* gallery section */
.gallery-section {
  display: grid;
  /* grid-template-columns: calc(1fr - var(--margin-side) * 2); */
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr;
  gap: 10px;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(auto-fit, 1fr);
  gap: 10px;
}

.gallery-img {
  width: 100%;
}

/* footer */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-height: 668px;
}

.footer h2 {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: var(--bold);
  color: var(--h1-color);
  text-shadow: 2px 2px 0 var(--accent-color);
}

@media (width >= 768px) {
  :root {
    --margin-side: 20px;
  }

  h1 {
    justify-self: flex-start;
  }

  .title {
    justify-self: flex-end;
  }

  .article-section:nth-child(1), 
  .article-section:nth-child(3) {
    grid-template-columns: 1fr 2fr;
  }
}

@media (width >= 1024px) {
  /* .header {
    grid-template-rows: 2fr repeat(2, 1fr);
  } */

  .article-section:nth-child(2) .articles-container {
    flex-direction: row;
  } 
}




